
# making this for the time being, since we'll probably want to ignore files
# in the future, like login credentials and such

#Ignore txt files
*.txt
#Ignore html files
*.html
#Ignore json files
*.json
#Ignore CSV files
*.csv

#Ignore node_modules directory
node_modules/
