/* STYLESHEET FOR THE COSC425/426 TEXTUAL BASELINE DATABASE WEBSITE */

/* ADD PADDING TO TOP OF THE HEADER, SEPARATING IT FROM THE NAVBAR */
/* USING REM UNITS (Relative to the font size of the root element) to unsure better consistency accross devices */
#jumbo_header
{
	background-color: #ADADAD;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

/* ADD PADDING TO LEFT SIDE OF NAVBAR */
#nav_title
{
	padding-left: 1rem;
}

/* PLACE FOOTER AT BOTTOM OF PAGE */
#su_footer
{
	position: fixed;
        color: #BABABA;
        line-height: 40px;
        font-size: 0.7em;
        bottom:0;
}

#page_tiles
{
	padding-top: 6rem;
	padding-bottom: 4rem;
}

.page_tile
{
	max-width: 25%;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: #D3D3D3;
}
