/* STYLESHEET FOR THE COSC425/426 TEXTUAL BASELINE DATABASE WEBSITE */

/* ADD PADDING TO TOP OF THE HEADER, SEPARATING IT FROM THE NAVBAR */
/* USING REM UNITS (Relative to the font size of the root element) to unsure better consistency accross devices */

/* MAIN CONTENT BACKGROUND COLOR */
#page_content
{
	scroll-behavior: smooth;
	background: #0D0D0D; !important
	padding-bottom: 80px;
}

#jumbo_header
{
	background-color: #000000;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

#jumbo_title
{
	color: #D9D9D9;
}

#jumbo_text
{
	color: #D9D9D9;
}

#jumbo_btn
{
	background-color: #A62139;
	border-color: #A62139;
}

/* ADD PADDING TO LEFT SIDE OF NAVBAR */
#nav_title
{
	font-family: 'Fjalla One', sans-serif;
	padding-left: 1rem;
}

/* PLACE FOOTER AT BOTTOM OF PAGE */
#su_footer
{
  color: #828282;
  line-height: 40px;
  font-size: 0.7em;
	margin-left: 2rem;
}

#page_tiles
{
	padding-top: 3rem;
}

#page_tile
{
	position: relative;
	color: #D9D9D9;
	border-radius: 0.5rem;	
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
	margin: 2rem;
	background-color: #252525;
}

#sub_header
{
	color: #D9D9D9;
	font-family: 'Fjalla One', sans-serif;
	font-size: 3.5rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 30%;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

#page_tile_text
{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1rem;
	padding-bottom: 2rem;
}

.btn_holder
{
	position: absolute;
	bottom: 10px;
	display: flex;
	justify-content: flex-start;
}

#page_tile_btn
{
	background-color: #A62139;
	border-color: #A62139;
}

#about_header
{
	color: #D9D9D9;
	font-size: 5rem;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 4rem;
	text-align: center;
}

#team_header
{
	color: #D9D9D9;
	font-size: 5rem;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 4rem;
	margin-bottom: 2rem;
	text-align: center;
}

#about_subheader
{ 
	color: #D9D9D9;
	font-size: 1rem;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 2rem;
	text-align: center;	
} 

.about_intro
{
	color: #D9D9D9;
	line-height: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 85rem;
	font-size: 1.5rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#second_paragraph
{
	margin-bottom: 2rem;
}

#project_diagram
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	text-align: center;
}

#project_diagram_img
{
	border-radius: 2rem;
}

#about_divider
{
	width: 75%;
	height: 0.3rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #D9D9D9;
}

#sources_container
{
	margin-top: 2rem;
}

#team_container
{
	margin-top: 4rem;
}

#sources_header
{
	color: #D9D9D9;
	font-size: 3.5rem;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	margin-bottom: 2rem;
}

.source_box
{
	color: #D9D9D9;
	background-color: #252525;
	border-radius: 0.5rem;	
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
	margin: 2rem;
}

.team_box
{
	color: #D9D9D9;
	background-color: #252525;
	border-radius: 0.5rem;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-bottom: 2rem;
	margin: 2rem;
}

.source_icons
{
	margin-top: 1rem;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
	width: 5rem;
	height: 5rem;
}

.team_icons
{
	margin-top: 1rem;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
	width: 5rem;
	height: 5rem;
}

#review_header_div
{
	text-align: center;
	padding: 0;
	position: absolute;
	left: 0;
	max-width: 100%;
}

#visualization_header_div
{
	text-align: center;
	padding: 0;
	position: absolute;
	left: 0;
	max-width: 100%;
}

#stock_visualization_img
{
	width: 100%;
}

#stock_img
{
	width: 100%;
}

#visualizations_subheader
{
	width: 100%;
	color: #D9D9D9;
	margin-left: auto;
  	margin-right: auto;
	font-size: 2rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 3rem;
}

#visualizations_subheader_text
{
	padding-top: 2rem;
	margin-left: auto;
  	margin-right: auto;
	width: 75%;
}

#scroll_button
{
	background-color: #A62139;
	border-color: #A62139;
	border-radius: 10rem;
	position: fixed;
	bottom: 10px;
	left: 10px;
}

#visualization_text
{
	width: 100%;
	padding-top: 3rem;
	padding-bottom: 1rem;
	background-color: #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #D9D9D9;
	font-size: 7rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#review_header_text
{
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #D9D9D9;
	font-size: 7rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#review_analysis_title
{
       	text-align: center;	
	color: #D9D9D9;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#visualizations_title
{
	padding-top: 1.5rem;
       	text-align: center;	
	color: #D9D9D9;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#visualizations_title_border
{
	margin-top: 45rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2.5rem;
	border-top: 0.5rem #D9D9D9 solid;
	width: 85%;
}

#review_analysis_logo
{
	display: table;
}

#wordcloud_img_section
{
	display: table;
}

#wordcloud_visualizations_container
{
	display: flex;
	width: 100%;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	line-height: 2rem;
	color: #D9D9D9;
}

#review_analysis_img
{
	display: table;
}

#dataset_icon_img
{
	display: table;
}

#review_navbar
{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: 100%;
}

#review_download_navbar
{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: 100%;
}

#review_navbar_border
{
	margin-top: 45rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2.5rem;
	border-top: 0.5rem #D9D9D9 solid;
	width: 85%;
}

#review_navbar_border_2
{
	margin-top: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2.5rem;
	border-top: 0.5rem #D9D9D9 solid;
	width: 75%;
}

#nav_button_links
{
	background-color: #A62139;
	border-color: #A62139;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	color: #D9D9D9;
	font-size: 1.0rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: bold;
	width: 15rem;
	height: 3.5rem;
}

#review_analysis_paragraph_15
{
	font-family: 'Sora', sans-serif;
	background-color: #1A1A1A;
	padding: 2rem;
	width: 50rem;
	border-radius: 2rem;
}

#review_analysis_container
{
	display: flex;
	width: 100%;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#review_analysis_container_2
{
	display: flex;
	width: 100%;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#review_analysis_container_3
{
	display: flex;
	width: 100%;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#review_analysis_container_4
{
	display: flex;
	width: 100%;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#review_analysis_container_5
{
	display: flex;
	width: 100%;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#review_analysis_container_6
{
	display: flex;
	width: 100%;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#code_header
{
	font-size: 150%;
}

.review_analysis_paragraph
{
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	line-height: 2rem;
	color: #D9D9D9;
	width: 40rem;
	text-align: left;
	margin-left: 1.5rem;
}

#yelp_logo_div
{
	display:table-cell;
  	vertical-align: middle;	
}

#wordcloud_img_div
{
	display:table-cell;
  	vertical-align: middle;	
}

#lstm_div
{
	display:table-cell;
  	vertical-align: middle;	
}

#lstm_img
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 90%;
	border-radius: 2rem;
}

#dataset_div
{
	display:table-cell;
  	vertical-align: middle;	
}

#dataset_img
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 90%;
	border-radius: 2rem;
}

#network_img
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 90%;
	border-radius: 2rem;
}

#network_run_img
{
	padding: 1rem;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 90%;
	border: 3px solid;
	border-color: #FFFFFF;
	border-radius: 1rem;
}

#yelp_logo
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 75%;
}

#wordcloud_img
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 75%;
}

#review_analysis_text_4
{
	margin-left: 1rem;
}

#review_subheader
{
	width: 100%;
	color: #D9D9D9;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 3rem;
}

#review_subheader_text
{
	padding-top: 2rem;
	margin-left: auto;
  	margin-right: auto;
	width: 75%;
	border-top: 0.5rem #D9D9D9 solid;
}

#review_subheader_2
{
	padding-top: 2rem;
	margin-left: auto;
  	margin-right: auto;
	width: 75%;
	border-top: 0.5rem #D9D9D9 solid;
}

#review_subheader_2_text
{
	width: 100%;
	color: #D9D9D9;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 1rem;
}

#review_subheader_3
{
	padding-top: 2rem;
	margin-left: auto;
  	margin-right: auto;
	width: 75%;
	border-top: 0.5rem #D9D9D9 solid;
}

#review_subheader_3_text
{
	width: 100%;
	color: #D9D9D9;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 1rem;
}

#review_subheader_4
{
	padding-top: 2rem;
	margin-left: auto;
  	margin-right: auto;
	width: 75%;
	border-top: 0.5rem #D9D9D9 solid;
}

#review_subheader_4_text
{
	width: 100%;
	color: #D9D9D9;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 1rem;
}

#review_analysis_text_3_header
{
	width: 100%;
	color: #D9D9D9;
	font-size: 2rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0.5rem;
}

#review_analysis_text_4_header
{
	width: 100%;
	color: #D9D9D9;
	font-size: 2rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0.5rem;
}

#downloads_header
{
	color: #D9D9D9;
	font-size: 5rem;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 4rem;
	text-align: center;
}

#downloads_content
{
	color: #D9D9D9;
	font-size: 1.5rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-top: 6rem;
	text-align: center;
}

#database_table_wrapper
{
	margin-top: 1rem;
	color: #D9D9D9;
	font-size: 1.5rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#database_table
{
	table-layout: fixed;
	margin-top: 3rem;
	color: #D9D9D9;
	font-size: 1.5rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D9D9D9;
	text-align: center;
}

#database_table tbody td
{
	width: 100%;
	padding: 1rem;
	border: 2px solid #D9D9D9; 
}

#database_table th 
{
	padding: 1rem;
	border: 2px solid #D9D9D9;
}

#user_collection_header
{
	margin-top: 2rem;
	color: #D9D9D9;
	font-size: 1rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#download_links
{
	width: 100%;
	text-align: center;
}

#download_link_heading 
{
	margin-top: 1rem;
	color: #D9D9D9;
	font-size: 1.5rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#download_button
{
	background-color: #A62139;
	border-color: #A62139;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	color: #D9D9D9;
	font-size: 1.0rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#user_collection
{
	margin-left: auto;
	margin-right: auto;
	font-size: 1.0rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

g.mpld3-xaxis, g.mpld3-yaxis 
{
	 display: none;
}

.mpld3-text
{
	font-size: 0.8rem !important;
	font-weight: bold;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding-bottom: 1rem !important;
}

.mpld3-figure
{
	display: flex !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

#fig_el301281402125324000808520220736
{
	border: 1px #FFFFFF solid;
	border-radius: 0.75rem;
	width: 75%;
	margin: auto;
	background-color: #FFFFFF;
}
