/* STYLESHEET FOR THE COSC425/426 TEXTUAL BASELINE DATABASE WEBSITE */

/* ADD PADDING TO TOP OF THE HEADER, SEPARATING IT FROM THE NAVBAR */
/* USING REM UNITS (Relative to the font size of the root element) to unsure better consistency accross devices */

/* MAIN CONTENT BACKGROUND COLOR */
#page_content
{
	background: #0D0D0D; !important
}

#jumbo_header
{
	background-color: #000000;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

#jumbo_title
{
	color: #D9D9D9;
}

#jumbo_text
{
	color: #D9D9D9;
}

#jumbo_btn
{
	background-color: #A62139;
	border-color: #A62139;
}

/* ADD PADDING TO LEFT SIDE OF NAVBAR */
#nav_title
{
	font-family: 'Fjalla One', sans-serif;
	padding-left: 1rem;
}

/* PLACE FOOTER AT BOTTOM OF PAGE */
#su_footer
{
	position: fixed;
        color: #828282;
        line-height: 40px;
        font-size: 0.7em;
	bottom: 0;
	left: 0;
}

#page_tiles
{
	padding-top: 3rem;
}

.page_tile
{
	color: #D9D9D9;
	padding-bottom: 5rem;
	border-radius: 0.5rem;	
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: #252525;
}

#sub_header
{
	color: #D9D9D9;
	font-family: 'Fjalla One', sans-serif;
	font-size: 3.5rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 30%;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

#page_tile_1_text
{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1rem;
	padding-bottom: 0.5rem;
}

#page_tile_2_text
{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1rem;
	padding-bottom: 0.5rem;
}

#page_tile_1_btn
{
	background-color: #A62139;
	border-color: #A62139;
}

#about_header
{
	color: #D9D9D9;
	font-size: 5rem;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 4rem;
	text-align: center;
}

#team_header
{
	color: #D9D9D9;
	font-size: 5rem;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 4rem;
	margin-bottom: 2rem;
	text-align: center;
}

#about_subheader
{ 
	color: #D9D9D9;
	font-size: 1rem;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 2rem;
	text-align: center;
	
} 

.about_intro
{
	color: #D9D9D9;
	line-height: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 85rem;
	font-size: 1.5rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#second_paragraph
{
	margin-bottom: 2rem;
}

#sources_container
{
	margin-top: 4rem;
}

#sources_header
{
	color: #D9D9D9;
	font-size: 3.5rem;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	margin-bottom: 2rem;

}

.source_box
{
	color: #D9D9D9;
	background-color: #252525;
	border-radius: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	margin: 2rem;
}

.team_box
{
	color: #D9D9D9;
	background-color: #252525;
	border-radius: 0.5rem;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-bottom: 2rem;
	margin: 2rem;
}

.source_icons
{
	margin-top: 1rem;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
	width: 5rem;
	height: 5rem;
}

.team_icons
{
	margin-top: 1rem;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
	width: 5rem;
	height: 5rem;
}

#review_header_div
{
	text-align: center;
	padding: 0;
	position: absolute;
	left: 0;
	max-width: 100%;
}

#stock_img
{
	width: 100%;
}

#review_header_text
{
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #D9D9D9;
	font-size: 7rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#review_analysis_title
{
	margin-top: 45rem;
       	text-align: center;	
	color: #D9D9D9;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

#review_analysis_logo
{
	display: table;
}

#review_analysis_container
{
	display: flex;
	width: 100%;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

.review_analysis_paragraph
{
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	line-height: 2rem;
	color: #D9D9D9;
	width: 40rem;
	text-align: left;
	margin-left: 1.5rem;
}

#yelp_logo_div
{
	display:table-cell;
  	vertical-align: middle;	
}

#yelp_logo
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 75%;
}

#review_subheader
{
	width: 100%;
	color: #D9D9D9;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
	font-size: 4rem;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 3rem;
}

#review_subheader_text
{
	padding-top: 2rem;
	margin-left: auto;
  	margin-right: auto;
	width: 75%;
	border-top: 0.5rem #D9D9D9 solid;
}

#downloads_header
{
	color: #D9D9D9;
	font-size: 5rem;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 4rem;
	text-align: center;
}

#downloads_content
{
	color: #D9D9D9;
	font-size: 1.5rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-top: 6rem;
	text-align: center;

}

#database_table
{
	margin-top: 3rem;
	color: #D9D9D9;
	font-size: 1.5rem;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D9D9D9;
	text-align: center;
}

#database_table td
{
	width: 100%;
	padding: 1rem;
	border: 2px solid #D9D9D9; 
}

#database_table th 
{
	padding: 1rem;
	border: 2px solid #D9D9D9; 
}
