/* STYLESHEET FOR THE COSC425/426 TEXTUAL BASELINE DATABASE WEBSITE */

/* ADD PADDING TO TOP OF THE HEADER, SEPARATING IT FROM THE NAVBAR */
/* USING REM UNITS (Relative to the font size of the root element) to unsure better consistency accross devices */
#jumbo_header
{
	background-color: #ADADAD;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

#nav_title
{
	padding-left: 1rem;
}
